@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

.app-bar-box {
    padding: 50px;
}

.app-bar {
    position: static;
    width: 100%;
    z-index: 100;
}

.title {
    font-family: 'Merriweather', serif;
    flex-grow: 1;
}